.landing__page{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    scrollbar-width: thin;

}
.main__section{
    display: flex;
    color:rgb(125, 136, 151);
    height: 95vh;
    margin-top: 85px;
    background-color:rgb(7,12,20);
    justify-content: space-evenly;
}
.main__section>*{
    margin-top: 50px;
}
.main__section__content>*{
    line-height: 2;
    margin-top: 10px;
}
div>h1{
    color:#ffffff
}
.join__future{
    padding: 5px;
    border-radius: 30px;
    background-color: rgb(24, 30, 38);
    width: fit-content;

}
.main__section__right__image__container{
    display: flex;
    flex-direction: column;
}
.phone__image{
    height: 495px;
    width: 245px;

}
.card__image{
    height: 302px;
    width: 203px;
    margin-top: -400px;
    margin-left: 150px;
}
.users__image{
    height: 91px;
    width: 281px;
    margin-top: -10px;
    margin-left: -30px;

}
.second__section{
    background: rgb(18, 21, 29);
    display: flex;
    flex-direction: column;
    height: 125vh;
    justify-content: space-evenly;
    align-items: center;

}
.second__section>*{
    margin-top: 10px;
}

.second__section__text__content{
    text-align: center;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.second__section__text__content>p{
    margin-top: 10px;
    color:rgb(125, 136, 151);
}
.second__section__text__content>h1{
    font-size: 45px;
}
.join__future{
    text-align: center;
}
.images{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;

}
.left__image__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.savings__image{
    width: 220px;
    height: 254px;
    border-radius: 10px;
}
.insights{
    width: 115px;
    height: 120px;
    margin-top: -150px;
    margin-left: 10px;
}
.pension__image{
    width: 402px;
    height: 534px;
    border-radius: 10px;
}
.pension__graph{
    width: 387px;
    height: 144px;
    margin-top: -150px;
}
.first__container,.insights__container{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    height: 315px;
    width: 598px;
    border-radius: 15px;

}
.first__container__text{
    width: 280px;
    height: 119px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 1.5;
}

.insights__image{
    width: 220px;
    height: 254px;
    background-color:rgb(16, 101, 227);
    border-radius: 10px;
}
.right__image__container{
    width: fit-content;
    border-radius: 10px;
    padding: 20px;
    height: 643px;
    background-color: #ffffff;
    margin-left: 10px;
}
