.button{
    align-items: center;

}
.button>button{
    display: flex;
    align-items: center;
    padding: 5px;
    outline: none;
    justify-content: space-evenly;
    font-weight: 500;
    margin-left: 10px;
    border-radius: 20px;
    background-color:rgb(16, 101, 227);
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color ease-out 1.5ms;
}
.button>button:hover{
    background-color:rgb(16, 101, 227,0.6);
}
.button>button>*{
    padding: 4px;
}